@media (min-width: 768px) and (max-width: 991px) {
	.gallery__elem {
		width: 47%;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.gallery__elem {
		width: 80%;
	}
}
@media (max-width: 479px) {
	body {
		font-size: 14px;
	}
	.gallery__elem {
		width: 90%;
	}
	.gallery__elem:hover .triangle {
		border-left: 90px solid rgba(0, 0, 0, 0.8);
	    border-right: 90px solid rgba(0, 0, 0, 0.8);
	    outline: 600px solid rgba(0, 0, 0, 0.8); 
	    border-top: 120px solid transparent;
	}
}